VITE_1C_PROXY_TARGET=https://msk1.1cfresh.com
VITE_1C_BASE_URL=/api-1c/a/sbm/3784912
VITE_1C_USERNAME=odata.user
VITE_1C_PASSWORD=your_password_here
VITE_1C_WAREHOUSE_GUID=344cfb30-e233-11f0-862e-fa163e5c9fa8
