.order-item[data-v-3d4691f7]{background-color:#0000001a;border:1px solid rgba(255,255,255,.1)}.order-details[data-v-53d2e951]{max-width:100%}.orders-page[data-v-56e47c34]{max-width:1400px;margin:0 auto}
